In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import csv
import json

In [2]:
circuits_df = pd.read_csv('./Datasets/circuits.csv',encoding = 'UTF8')
tableName   = "circuits"
dataFrame   = pd.DataFrame(data=circuits_df)           

sqlEngine = create_engine('mysql+pymysql://root:root@127.0.0.1/esquema1')#esquema1  es el nombre del esquema creado en workbench-mysql
dbConnection = sqlEngine.connect()

try:
    frame           = dataFrame.to_sql(tableName, dbConnection, if_exists='fail');
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table 'circuits' already exists.

In [3]:
drivers_df = pd.read_json('./Datasets/drivers.json',encoding = 'UTF8', lines=True)
tableName   = "drivers"
dataFrame   = pd.DataFrame(data=drivers_df)           

# sqlEngine = create_engine('mysql+pymysql://root:root@127.0.0.1/esquema1')#esquema1  es el nombre del esquema creado en workbench-mysql
# dbConnection = sqlEngine.connect()

# try:
#     frame = dataFrame.to_sql(tableName, dbConnection)
# except ValueError as vx:
#     print(vx)
# except Exception as ex:   
#     print(ex)
# else:
#     print("Table %s created successfully."%tableName);   
# finally:
#     dbConnection.close()

In [7]:
dataFrame.head()

,driverId,driverRef,number,code,dob,nationality,url
0,1,hamilton,44,HAM,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [5]:
dataFrame.drop(columns =['name'], inplace=True)

In [6]:
drivers_df = pd.read_json('./Datasets/drivers.json',encoding = 'UTF8', orient='records', lines=True)
tableName   = "drivers"
dataFrame   = pd.DataFrame(data=drivers_df) 
dataFrame.drop(columns =['name'], inplace=True) 
#drivers_df = pd.read_json('./Datasets/drivers.json',encoding = 'UTF8', lines=True)
tableName   = "drivers"
#dataFrame  = pd.DataFrame(data=drivers_df)           
df2 = pd.json_normalize(dataFrame)
#df2 = pd.json_normalize(drivers_df['name'])

sqlEngine = create_engine('mysql+pymysql://root:root@127.0.0.1/esquema1')#esquema1  es el nombre del esquema creado en workbench-mysql
dbConnection = sqlEngine.connect()

try:
    frame = df2.to_sql(tableName, dbConnection)
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table 'drivers' already exists.

In [10]:
constructors_df = pd.read_json('./Datasets/constructors.json',encoding = 'utf-8-sig', lines=True)
tableName   = "constructors"
dataFrame   = pd.DataFrame(data=constructors_df)           

sqlEngine = create_engine('mysql+pymysql://root:root@127.0.0.1/esquema1')#esquema1  es el nombre del esquema creado en workbench-mysql
dbConnection = sqlEngine.connect()

try:
    frame = dataFrame.to_sql(tableName, dbConnection)

except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table 'constructors' already exists.

In [11]:
pit_df = pd.read_json('./Datasets/pit_stops.json',encoding = 'utf-8-sig')
tableName   = "pit_stops"
dataFrame   = pd.DataFrame(data=pit_df)           

#esquema1  es el nombre del esquema creado en workbench-mysql
sqlEngine = create_engine('mysql+pymysql://root:root@127.0.0.1/esquema1')
dbConnection = sqlEngine.connect()

try:
    frame = dataFrame.to_sql(tableName, dbConnection)

except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table 'pit_stops' already exists.

In [12]:
results_df = pd.read_json('./Datasets/results.json',encoding = 'utf-8-sig', lines=True)
tableName   = "results"
dataFrame   = pd.DataFrame(data=results_df)           

#esquema1  es el nombre del esquema creado en workbench-mysql
sqlEngine = create_engine('mysql+pymysql://root:root@127.0.0.1/esquema1')
dbConnection = sqlEngine.connect()

try:
    frame = dataFrame.to_sql(tableName, dbConnection)
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table 'results' already exists.

In [14]:
races_df = pd.read_csv('./Datasets/races.csv',encoding = 'UTF8')
tableName   = "races"
dataFrame   = pd.DataFrame(data=races_df)           

#esquema1  es el nombre del esquema creado en workbench-mysql
sqlEngine = create_engine('mysql+pymysql://root:root@127.0.0.1/esquema1')
dbConnection = sqlEngine.connect()

try:
    frame = dataFrame.to_sql(tableName, dbConnection)
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table 'races' already exists.

In [15]:
lap_times1_df = pd.read_csv('./Datasets/lap_times/lap_times_split_1.csv',encoding = 'UTF8')
lap_times2_df = pd.read_csv('./Datasets/lap_times/lap_times_split_2.csv',encoding = 'UTF8')
lap_times3_df = pd.read_csv('./Datasets/lap_times/lap_times_split_3.csv',encoding = 'UTF8')
lap_times4_df = pd.read_csv('./Datasets/lap_times/lap_times_split_4.csv',encoding = 'UTF8')
lap_times5_df = pd.read_csv('./Datasets/lap_times/lap_times_split_5.csv',encoding = 'UTF8')

lap_times = pd.concat([lap_times1_df,lap_times2_df,lap_times3_df,lap_times4_df,lap_times5_df])

tableName   = "lap_times"
dataFrame   = pd.DataFrame(data=lap_times)           

#esquema1  es el nombre del esquema creado en workbench-mysql
sqlEngine = create_engine('mysql+pymysql://root:root@127.0.0.1/esquema1')
dbConnection = sqlEngine.connect()

try:
    frame = dataFrame.to_sql(tableName, dbConnection)
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table 'lap_times' already exists.

In [16]:
lap_times.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 490899 entries, 0 to 90903
Data columns (total 29 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   841       99998 non-null   float64
 1   20        99998 non-null   float64
 2   1         99998 non-null   float64
 3   1.1       99998 non-null   float64
 4   1:38.109  99998 non-null   object
 5   98109     99998 non-null   float64
 6   933       99999 non-null   float64
 7   830       99999 non-null   float64
 8   47        99999 non-null   float64
 9   7         199998 non-null  float64
 10  1:12.976  99999 non-null   object
 11  72976     99999 non-null   float64
 12  145       99999 non-null   float64
 13  2         99999 non-null   float64
 14  39        99999 non-null   float64
 15  1:27.597  99999 non-null   object
 16  87597     99999 non-null   float64
 17  67        99999 non-null   float64
 18  14        99999 non-null   float64
 19  26        99999 non-null   float64
 20  13        99999 non-null   float64
 21  1:25.802  99999 non-null   object
 22  85802     99999 non-null   float64
 23  963       90904 non-null   float64
 24  836       90904 non-null   float64
 25  9         90904 non-null   float64
 26  15        90904 non-null   float64
 27  2:22.467  90904 non-null   object
 28  142467    90904 non-null   float64
dtypes: float64(24), object(5)
memory usage: 112.4+ MB

In [17]:
lap_times.columns

Index(['841', '20', '1', '1.1', '1:38.109', '98109', '933', '830', '47', '7',
       '1:12.976', '72976', '145', '2', '39', '1:27.597', '87597', '67', '14',
       '26', '13', '1:25.802', '85802', '963', '836', '9', '15', '2:22.467',
       '142467'],
      dtype='object')

In [18]:
lap_times.rename(columns={'841':'raceId',
                        '20':'driverId','1':'lap','1.1':'position','1:38.109':'time','98109':'miliseconds',
                        '933':'', '830':'', '47':'', '7':'',
                        '1:12.976':'', '72976':'', '145':'', '2':'', '39':'', '1:27.597':'', '87597':'',
                         '67':'', '14':'','26':'', '13':'', '1:25.802':'', '85802':'', '963':'', '836':'',
                         '9':'', '15':'', '2:22.467':'', '142467':''                        
                        },
               inplace=True)
lap_times.columns

Index(['raceId', 'driverId', 'lap', 'position', 'time', 'miliseconds', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', ''],
      dtype='object')

In [19]:
quali1_df = pd.read_json('./Datasets/Qualifying/qualifying_split_1.json',encoding = 'utf-8-sig', orient='records')
quali2_df = pd.read_json('./Datasets/Qualifying/qualifying_split_2.json',encoding = 'utf-8-sig', orient='records')
qualifying = pd.concat([quali1_df,quali2_df])

tableName   = "qualifying"
dataFrame   = pd.DataFrame(data=qualifying)           

#esquema1  es el nombre del esquema creado en workbench-mysql
sqlEngine = create_engine('mysql+pymysql://root:root@127.0.0.1/esquema1')
dbConnection = sqlEngine.connect()

try:
    frame = dataFrame.to_sql(tableName, dbConnection)
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table 'qualifying' already exists.